@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);

  --color-alert-surface: #fff2de;
  --color-alert-dark: #e5961e;

  --color-gray-dark: #1a1717;
  --color-gray-dark-surface: #f8f4f2;
  --color-gray-medium: #504d4c;

  --color-primary-medium: #c30010;
  --color-primary-dark: #9c000d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
